*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Helvetica';
}


nav {
    display: flex;
    justify-content: center;
    background-color: grey;
    padding: 12px;
    flex-wrap: wrap;
}

nav ul {
    display: flex;
    align-items: center;
    margin-right: auto;
   
}

nav ul li {
    list-style-type: none; 
    padding: 8px;
    
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    
}

.logo {
    margin-right: auto;
}

.logo:hover {
    cursor: pointer;
    color: tomato;
    transition: 0.3s;
    
}


.btn {
    margin-left: 20px;
    border: none;
    font-size: 15px;
    padding: 0 10px;
    border-radius: 8px;
    background-color: tomato;
    color: white;
    width: fit-content;

}

.btn:hover {
    cursor: pointer;
    background-color: green;
    transition: 0.9s;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 70px 0;
   
}

.intro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
    gap: 10px;

}

.title {
    font-size: 24px;
    font-weight: bold;
}

.deskripsi {
  
    font-size: 20px;
    font-weight: bold;
}

.img-photo{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 20px;
    height: auto;
    padding: 10px;
}

.parallax {
    background-image: url('assets/photos/adriianpolos1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 500px;
    background-attachment: fixed;
    height: 100vh;
}

.tentang {
    background-color: #1A2238;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 40px;
    gap: 10px;
    color: #eaeaea;
    
}

.btn-work {
    width: fit-content;
    margin: 0 auto;
    padding: 10px;
    font-size: 20px;
    background-color: black;
    color: #eaeaea;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
}

.card-item {
    width: 25%;
    background-color: #f7f7f7;
    box-shadow: 2px 5px 5px 1px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 24px;
    
}

.deskripsi-nongs {
    font-size: 15px;
}


.icon {
    width: 50px;
    height: 50px;
    margin: 10px;
    padding: 4px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #1A2238;
    color: #eaeaea;
}
@media screen and (max-width: 476px) {

    .card {
        gap: 0;
    }
    .card-item {
        width: 100%;
        
    }

    .container {
        padding: 0;
        width: 100%;

    }

    .intro {
        margin-top: 20px;
    }

    .img-photo {
        padding: 0;
    }

    nav ul{
        position: fixed;
        bottom: 0;
        background-color: #1A2238;
        width: 100%;

    }

    footer {
        margin-bottom: 80px;
    }
}